<div class="container mt-5">
  <div class="row">
    <form>
      <h1>Login Studente</h1>

      <!-- nome -->
      <div class="form-group mb-3">
        <label for="exampleusername">Nome</label>
        <input type="text" class="form-control" formControlName="name" id="exampleusername" placeholder="name">
      </div>
      <!-- password -->
      <div class="form-group mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

