<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-white">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Classi
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Studenti
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Docenti
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>