<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Benvenuto nella tua area riservata</h1>
            <p class="col-md-8 fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, debitis placeat at deserunt porro
                provident quos obcaecati fugiat ipsam dicta vel voluptatibus voluptate. Nostrum officia quas, aut
                accusantium perferendis veritatis.
            </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>
    
</main>

